<?xml version="1.0"?>
<!--
/**
 * @author    Magebit <info@magebit.com>
 * @copyright Copyright (c) Magebit, Ltd. (https://magebit.com)
 * @license   https://magebit.com/code-license
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <magebit_klaviyo>
            <sms_validation>
                <countries>US,CA</countries>
            </sms_validation>
        </magebit_klaviyo>
    </default>
</config>
