<?xml version="1.0"?>
<!--
/**
 * @author    Magebit <info@magebit.com>
 * @copyright Copyright (c) Magebit, Ltd. (https://magebit.com)
 * @license   https://magebit.com/code-license
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Klaviyo\Reclaim\KlaviyoV3Sdk\KlaviyoV3Api"
                type="Magebit\KlaviyoSubscription\KlaviyoV3Sdk\KlaviyoV3Api"/>
    <preference for="Klaviyo\Reclaim\Helper\Data"
                type="Magebit\KlaviyoSubscription\Helper\Data"/>
    <type name="Magento\Customer\Api\Data\CustomerExtensionFactory">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="is_sms_subscribed" xsi:type="object">Magento\Framework\Api\ExtensionAttribute\JoinProcessor</item>
            </argument>
        </arguments>
    </type>
    <preference for="Klaviyo\Reclaim\Observer\SaveOrderMarketingConsent"
                type="Magebit\KlaviyoSubscription\Observer\SaveOrderMarketingConsent"/>
    <preference for="Magebit\KlaviyoSubscription\Api\SmsPhoneValidationInterface"
                type="Magebit\KlaviyoSubscription\Model\SmsPhoneValidation"/>
    <type name="Magento\Quote\Api\CartRepositoryInterface">
        <plugin name="join_subscriptions_to_quote" type="Magebit\KlaviyoSubscription\Plugin\QuoteRepositoryPlugin" />
    </type>
    <type name="Magento\Customer\Api\CustomerRepositoryInterface">
        <plugin name="join_attributes" type="Magebit\KlaviyoSubscription\Plugin\CustomerRepositoryPlugin" />
    </type>
    <type name="Magento\Customer\Api\AccountManagementInterface">
        <plugin name="magebit_klaviyo_profile_language_on_account_create"
                type="Magebit\KlaviyoSubscription\Plugin\SyncLanguageOnAccountCreate"/>
    </type>
    <type name="Klaviyo\Reclaim\Model\Events">
        <plugin name="magebit_klaviyo_event_language"
                type="Magebit\KlaviyoSubscription\Plugin\AddLanguageToKlaviyoEvent"/>
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="magebit_klaviyo_backfill_profile_language" xsi:type="object">
                    Magebit\KlaviyoSubscription\Console\Command\BackfillProfileLanguage
                </item>
            </argument>
        </arguments>
    </type>
</config>
